<html>
  <head>
    <%- include('./includes/head', { themeConfig: themeConfig }) %>
  </head>
  <body>
    <div class="main">
      <div class="main-content">
        <%- include('./includes/header') %>
    
        <%- include('./includes/post-list') %>
    
        <%- include('./includes/pagination') %>
    
        <%- include('./includes/footer') %>
      </div>
    </div>
  </body>
</html>
