<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>

<script>

  var gitalk = new Gitalk({
    clientID: '<%= commentSetting.gitalkSetting.clientId %>',
    clientSecret: '<%= commentSetting.gitalkSetting.clientSecret %>',
    repo: '<%= commentSetting.gitalkSetting.repository %>',
    owner: '<%= commentSetting.gitalkSetting.owner %>',
    admin: ['<%= commentSetting.gitalkSetting.owner %>'],
    id: location.pathname,      // Ensure uniqueness and length less than 50
    distractionFreeMode: false  // Facebook-like distraction free mode
  })

  gitalk.render('gitalk-container')

</script>
