<div class="site-header">
  <a href="<%= themeConfig.domain %>">
  <img class="avatar" src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>" alt="">
  </a>
  <h1 class="site-title">
    <%= themeConfig.siteName %>
  </h1>
  <p class="site-description">
    <%- themeConfig.siteDescription %>
  </p>
  <div class="menu-container">
    <% menus.forEach(function(menu) { %>
      <% if (menu.openType === 'External') { %>
        <a href="<%= menu.link %>" class="menu" target="_blank">
          <%= menu.name %>
        </a>
      <% } else { %>
        <a href="<%= menu.link %>" class="menu">
          <%= menu.name %>
        </a>
      <% } %>
    <% }); %>
  </div>
  <div class="social-container">
    <% ['github', 'twitter', 'weibo', 'zhihu', 'facebook'].forEach((item) => { %>
      <% if (site.customConfig[item]) { %>
        <a href="<%= site.customConfig[item] %>" target="_blank">
          <i class="ri-<%= item %>-line"></i>
        </a>
      <% } %>
    <% }) %>
  </div>
</div>
