<nav class="navbar border fixed split-nav">
  <div class="nav-brand">
    <h3><a href="<%= themeConfig.domain %>"><%= themeConfig.siteName %></a></h3>
  </div>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1">
    <button>
      <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
    </button>
    <div class="collapsible-body">
      <ul class="inline">
        <% menus.forEach(function(menu) { %>
          <li>
            <% if (menu.openType === 'External') { %>
              <a href="<%= menu.link %>" class="menu" target="_blank">
                <%= menu.name %>
              </a>
            <% } else { %>
              <a href="<%= menu.link %>" class="menu">
                <%= menu.name %>
              </a>
            <% } %>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
</nav>
