<!DOCTYPE html>
<html>
  <head>
    <%- include('./_blocks/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body>
    <%- include('./_blocks/header') %>

    <div id="top" class="row site">
      <div class="sm-12 md-8 col">
        <div class="paper">
          <%- include('./_blocks/post-list') %>
        </div>
        
        <%- include('./_blocks/pagination') %>
      </div>
      
      <%- include('./_blocks/sidebar') %>
    </div>
    <%- include('./_blocks/scripts') %>
  </body>
</html>
