.post-container
    each post in posts
      article.post
        a(href=post.link)
          h2.post-title= post.title
        .post-info
          time.post-time · #{post.date} ·
          each tag in post.tags
            a.post-tag(href=tag.link) # #{tag.name}
        if themeConfig.showFeatureImage && post.feature
          a.post-feature-image(href=post.link)
            img(src=post.feature)
        p.post-abstract= post.abstract
