extends layouts/default

block content
  .post-detail
    article.post
      h2.post-title= post.title
      .post-info
        time.post-time · #{post.date} ·
        each tag in post.tags
          a.post-tag(href=tag.link) # #{tag.name}
      .post-content !{post.content}

  if post.nextPost
    .next-post
      .next 下一篇
      a(href=post.nextPost.link)
        h3.post-title= post.nextPost.title


