<div class="site-footer">
  <div class="slogan"><%- themeConfig.siteDescription %></div>
  <div class="social-container">
    <% ['github', 'twitter', 'weibo', 'zhihu', 'facebook'].forEach((item) => { %>
      <% if (site.customConfig[item]) { %>
        <a href="<%= site.customConfig[item] %>" target="_blank">
          <i class="fab fa-<%= item %>"></i>
        </a>
      <% } %>
    <% }) %>
  </div>
  <%- themeConfig.footerInfo %> | <a class="rss" href="<%= themeConfig.domain %>/atom.xml" target="_blank">RSS</a>
</div>
